.section {
  width: 100%;
  height: 612px;
  position: relative;
  background-size: cover;
  background-position: 0% 70%;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.content h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}

.line1 {
  color: #000000;
}

.line2 {
  color: #666666; /* Medium grey */
}

.line3 {
  color: #cccccc; /* Light grey */
}

.bookingBtn {
  background: #000000;
  color: #ffffff;
  border: none;
  height: 52px;
  padding: 0 6px 0 24px;
  padding: 6px 20px 6px 6px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 30px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.iconCircle {
  width: 32px;
  height: 32px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookingBtn span {
  padding-right: 15px; /* Spacing on right */
}
