.banner {
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align top */
  margin-top: 50px;
}

.promoTag {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 0.5rem;
}

.left h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 114%;
  color: #000000;
}

.right {
  max-width: 395px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.right p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #676767;
  line-height: 24px;
  margin-bottom: 0;
}

.buyBtn {
  background: black;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  transition: transform 0.2s;
  width: 133px;
}

.buyBtn:hover {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
}
